<!DOCTYPE html>
<html>
<head>
    <title>Disc Caddy</title>
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-default">
        <a class="navbar-brand" href="/">Upload</a>
        <a class="navbar-brand" href="/players">Players</a>
        <a class="navbar-brand" href="/games">Games</a>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>