{% extends 'base.html' %}

{% block content %}
<h1>Games</h1>
<table class="table">
    {% for game in games %}
        <tr>
            <td>{{ game.start_time }}</td>
            <td>{{ game.course.name }}</td>
            <td>
            {% for player in game.players%}
                {{ player.name }}
            {% endfor %}
            <td><a href="/game/{{ game.id }}">Details</a></td>
            </td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
