{% extends 'base.html' %}
{% load extras %}

{% block content %}
<h1>{{ game.course.name }} {{ game.course.holes|length }}</h1>

<table class="table">
    <thead>
        <th>#</th>
        <th>Par</th>
        {% for player in game.players %}
            <th>{{ player.name }} - {{ player.disc_caddy_id}}</th>
        {% endfor %}            
    </thead>
    <tbody>
        {% for hole in game.course.holes %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ hole.par }}</td>
                {% for player in game.players %}
                    <td class="{{ game.results|get_dict_item:player.disc_caddy_id|get_list_item:forloop.parentloop.counter0|get_class:hole.par }}">{{ game.results|get_dict_item:player.disc_caddy_id|get_list_item:forloop.parentloop.counter0 }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td>
                {{ game.course.holes|sum_par }}
            </td>
            {% for player in game.players %}
                <td>
                    {{ game.results|get_sum:player.disc_caddy_id }}
                </td> 
            {% endfor %}
        </tr>
    </tbody>
</table>
{% endblock %}
