{% extends 'base.html' %}

{% block content %}

{% if error %}
<div class="alert alert-danger">
    <p>{{ error }}</p>
</div>
{% endif %}

<form method="POST" action="/upload/" enctype="multipart/form-data">
    {{ form }}
    <button type="submit">Send</button>
    {% csrf_token %}
</form>
{% endblock %}
